@font-face {
    font-family: 'Pigpen Regular';
    src: url('PigpenCipherRegular.ttf') format('opentype');
}
.pigpen-text {
    font-family: 'Pigpen Regular', sans-serif;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f5e6c4;
    color: #362e2b;
    background-image: url('https://www.example.com/path/to/medieval-parchment-background.jpg'); /* Fondo de pergamino medieval */
    background-size: cover;
    background-attachment: fixed;
    padding: 20px;
}

header {
    background-color: #8b4513;
    color: #fff;
    padding: 20px;
    text-align: center;
    border: 3px solid #362e2b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    font-family: 'Old English Text MT', serif;
    margin-bottom: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente para mejorar legibilidad */
    border: 2px solid #8b4513;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Old English Text MT', serif;
    font-size: 1.5em;
}

select, input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #8b4513;
    border-radius: 5px;
    font-family: 'Old English Text MT', serif;
    font-size: 1em;
    background-color: #f5e6c4;
    color: #362e2b;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #8b4513;
    color: #fff;
    border: 2px solid #362e2b;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Old English Text MT', serif;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #654321;
    transform: scale(1.05);
}

textarea {
    width: 100%;
    min-height: 150px;
    resize: vertical;
}

.campo-texto-lable, .campo-texto-no-editable-lable {
    font-weight: bold;
    font-family: 'Old English Text MT', serif;
    font-size: 1.5em;
    margin-top: 20px;
}

.input-hacker {
    display: inline-block;
    width: 45%;
    box-sizing: border-box;
}

option {
    font-family: 'Old English Text MT', serif;
    font-size: 1em;
}

@media (max-width: 768px) {
    .input-hacker {
        width: 100%;
    }

    header, section {
        padding: 10px;
        margin: 10px 0;
    }

    h1 {
        font-size: 2.5em;
    }

    label {
        font-size: 1.3em;
    }

    button {
        font-size: 1em;
    }
}
